<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Education Level</title>
	<link rel="stylesheet" href="./vendor/bootsrap5/css/bootstrap.min.css">
	<link rel="stylesheet" href="./vendor/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="./css/educational_level.css">
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- Header -->
	<header class="navbar navbar-expand-lg" id="header">
		<nav class="container-fluid" aria-label="header-nav">
			<div class="container-xxl">
				<div class="row align-items-center justify-content-start">
					<!-- Brand -->
					<div class="col p-2">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a href="#" class="text-decoration-none">Education</a></li>
							<li class="breadcrumb-item active" aria-current="page">Education Level</li>
						</ol>
					</div>

					<!-- register/login -->
					<div class="col p-2">
						<div class="nav-btn-action d-grid gap-2 d-md-flex justify-content-md-end">
							<button class="btn btn-primary btn-cust-primary btn-sm me-2 px-4 py-1">Halo, Admin!</button>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<!-- Content -->
	<main class="flex-grow-1">
		<div class="container px-4">
			<div class="row d-flex justify-content-center p-4">
				<div class="col-md-8 col-xxl-6">
					<div class="card inside-modal">
						<!-- Header -->
						<div class="card-header card-header-color">
							Jenjang Pendidikan
						</div>
						<!-- Body -->
						<div class="card-body row row-cols-2 gy-2 py-3 px-5">

							<div class="col-8">
								<input type="text" class="form-control" placeholder="Cari nama">
							</div>
							<div class="col-4 text-end">
								<button id="addLevel" class="btn btn-primary btn-cust-primary btn-sm px-3">Tambah</button>
							</div>

							<div class="col-12">
								<!-- Table -->
								<div class="table-card">
									<table class="table table-borderless">
										<thead class="card-header-color">
											<tr>
												<th>#</th>
												<th>First</th>
												<th class="text-center">action</th>
											</tr>
										</thead>
										<tbody id="tbodyEdl" class="card-body-style">
											<!-- Append Condent Here -->
										</tbody>
									</table>
								</div>
								<!-- end Table -->
							</div>

							<!-- Modal -->
							<div id="myModal" class="modal fade">
								<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Modal title</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<!-- Content -->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-warning btn-sm"
												data-bs-dismiss="modal">batal</button>
											<button id="saveLevel" class="btn btn-primary btn-sm"></button>
										</div>
									</div>
								</div>
							</div>
							<!-- end modal -->

						</div>
						<!-- end body -->
					</div>
					<!-- end header -->
				</div>
			</div>
		</div>
	</main>

	<!-- Footer -->
	<footer id="footer">
		<div>
			<p class="text-center my-3 fw-bold">Under construction... see us soon!!</p>
		</div>
	</footer>

	<script src="./vendor/bootsrap5/js/bootstrap.bundle.min.js"></script>
	<script src="./vendor/fontawesome/js/all.min.js"></script>
	<script src="./vendor/jquery/jquery-3.6.1.min.js"></script>
	<script src="./js/educationLevel.js"></script>
</body>

</html>